*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;

    font-family: 'Cinzel', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root
{
    --main-color: #7A0B08;
    --second-color: #E7E7E7;

    --corner-radius: 10px;
    --font-btn: 18px;
}

.view
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background:  linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0), rgba(255,255,255,0.4), rgb(0, 0, 0, 0), rgba(0,0,0,0)), url(img/bg-img.jpg); 
    background-position: center;
    background-size: cover;
}

.logo
{
    width: 100px;
    height: 50px;
    border-radius: var(--corner-radius);
    border: 2px var(--main-color) solid;
}

nav
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
}

nav .logo
{
    background: url(img/logo.jpg); 
    background-position: center; 
    background-size: cover; 
    cursor: pointer;
}

nav a i
{
    margin: 10px;
    padding: 10px;
    color: var(--main-color);
    font-size: var(--font-btn);
    font-weight: 600;
    transition: all 0.55s ease;

    font-style: normal;
}

nav a
{
    cursor: auto;
}

nav a i:hover
{
    text-decoration: underline;
    cursor: pointer;
}

#drop-down
{
    display: none;
}

#drop-down i:hover
{
    text-decoration: none;
}

/* responsiveness */
@media (max-width: 1100px)
{
    nav
    {
        padding: 28px 8%;
    }
}

@media (max-width: 900px)
{
    nav
    {
        padding: 28px 4%;
    }
}

@media (max-width: 700px)
{
    html
    {
        font-size: 12px;
    }
}

@media (max-width: 600px)
{
    html
    {
        font-size: 10px;
    }

    nav .content i
    {
        margin: 20px 5px;
    }
    #drop-down
    {
        display: inline-block;
    }

    .content
    {
        display: none;
    }

    .tabs:hover .content
    {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 20px;

        background-color: var(--second-color);
        border-radius: var(--corner-radius);
        border: 2px var(--main-color) solid;

        position: fixed;
        
        right: 4%;
        top: 30px;

        padding: 40px 20px;
    }
}

@media (max-width: 500px)
{    
    html
    {
        font-size: 8px;
    }

    nav
    {
        padding: 15px 4%;
    }
}